// 字体
$font-family-base: PingFangSC-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif!default;
// 背景颜色
$bg-color: #F5F5F5;
// 主题色
$primary: #2788EA!default;
$primary-light: #64B7F6!default;
// 默认的资源存放路径
$iconImgUrl:'../assets/img';
// border color
$border-color: #D8D8D8!default;

// header 高度
$header-height: 54px!default;
$side-bar-width: 170px!default;

//  进度条背景颜色
$nprogress: $primary; 
