@import 'scss/variables.scss';
@import 'scss/mixin.scss';
.topic {
  font-family: $font-family-base;
  font-size: 14px;
  .topic-con{
    min-width: 1230px;
    width: auto;
    min-height: 10px;
    height: auto;
    background: #fff;
    // margin: 0 auto;
    .topic-one{
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #E5E5E5;
      .topic-status{
        display: inline-block;
        padding-left: 67px;
        font-size: 14px;
        color: #333333;
        margin-bottom: 21px;
      }
      .border-bot{
        border-bottom: 1px dashed #ccc;
      }
      .topic-pic{
        background: #F1F6FE;
        padding-top: 28px;
        margin: 0 auto;
        width: 1060px;
        .upload-ad{
          width: 100%;
          padding-top: 15px;
          background: #F1F6FE;
          box-sizing: border-box;
          .topic-ad-pic{
            min-height: 180px;
            display: flex;
            flex-flow: row wrap;
            margin-left: 170px;
            li{
              height: 138px;
              background:#fff;
              float: left;
              margin-right: 10px;
              margin-bottom: 10px;
              position: relative;
              i{
                position: absolute;
                top: -10px;
                right: -8px;
                width: 27px;
                height: 27px;
                background: url('../../../assets/img/del.png') no-repeat;
                background-size: 100%;
                cursor: pointer;
              }
              .pic-li{
                float: left;
                padding: 0 20px;
                position: relative;
                img{
                  display: block;
                  width: 140px;
                  height: 80px;
                  background: #ccc;
                  text-align: center;
                  line-height: 80px;
                  color: #999;
                  font-size: 11px;
                  margin: 10px auto;
                }
                .upload-but{
                  display: inline-block;
                  width: 60px;
                  height: 23px;
                  background: rgba(0,0,0,0.50);
                  color: #fff;
                  position: absolute;
                  outline: none;
                  border: none;
                  top: 66px;
                  left: 108px;
                }

              }
              .select-link{
                padding-left: 10px;
                font-size: 12px;
                .el-button{
                  padding: 6px 10px;
                  color: #2788EA;
                }
                .select-text{
                  color: #999;
                }
              }
              .lone-pic{
                float: none;
                width: 304px;
                margin-left:0;
                img{
                  width: 284px;
                }
                .upload-but{
                  top: 56px;
                  left: 254px;
                }
              }
            }
          }
        }
        .upload{
          width: 100%;
          height: 180px;
          padding-top: 15px;
          background: #F1F6FE;
          position: relative;
          .topic-addpic{
            position: relative;
            width: 375px;
            height: 150px;
            margin-left: 170px;
            img{
              display: block;
              width: 375px;
              height: 150px;
              background: #ccc;
              text-align: center;
              line-height: 150px;
              color: #999;
              font-size: 14px;
            }
            .upload-but{
              display: inline-block;
              width: 90px;
              height: 34px;
              background: rgba(0,0,0,0.50);
              color: #fff;
              position: absolute;
              outline: none;
              border: none;
              bottom: 0;
              right: 0;
            }
          }
          .demonstration{
            position: absolute;
            left: 600px;
            top: 100px;
          }
          .el-color-picker{
            position: absolute;
            left: 690px;
            top: 85px;
            width: 200px;
            height: 40px;
            background: #fff;
            .el-color-picker__trigger{
              width: 200px;
              height: 40px;
              .el-color-picker__color{
                width: 160px;
                height: 28px;
                border: none;
              }
            }
          }
        }
        .block{
          width: 50%;
          display: flex;
        }
        .operation{
          float: right;
          width: 150px;
          height: 40px;
          line-height: 40px;
          span{
            color: #64B7F6;
            text-decoration: underline;
            padding-right: 4px;
            cursor: pointer;
          }
        }
      }
      .topic-area{
        margin-bottom: 40px;
      }
      .wximg{
        position: relative;
        width: 120px;
        height: 120px;
        .weixin-img {
          display: inline-block;
          width: 120px;
          height: 120px;
          background-color: #f2f2f2;
        }
        .wxupload{
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          outline: none;
          border: none;
        }
      }
    }
    .yc-form{
      padding-top: 20px;
      .el-textarea{
        .el-textarea__inner{
          display: inline-block;
          width:400px;
          height: 110px;
        }
      }
    }
    .bg{
      width: 1060px;
      height:100px;
      margin: 0 auto;
      background: #F1F6FE;
      padding-top: 28px;
      padding-bottom: 20px;
    }
    .bg-border{
      width: 95%;
      margin-left: 30px!important;
      margin-right: 30px!important;
      border-bottom: 1px dashed #ccc;
    }
    .promt{
      color: red;
      padding-right: 10px;
      font-size: 14px;
      color: #FF0000;
    }
  }
}
